# ***3gConnectionWvdial.service***
[Unit]
Description=Arranque de la conexion 3g
After=multi-user.target
 
[Service]
Type=simple
WorkingDirectory=/opt/3gconnect/
ExecStart=/usr/bin/wvdial 3gconnect
User=root
Restart=always
RestartSec=3s
#StandardOutput=syslog
#StandardError=syslog
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
